@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.bannerBg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./Components/bg3.jpg");
  height: 50vh; 
}

.tagline{
   display: flex;
   flex-direction:column ;
   height: "40%";
   justify-content: center;
   text-align: center;
}

.carouselItem{
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: gold;
}

.tableRow{
  background-color: #16171a;
  cursor: pointer;
  font-family: "Montserrat";
}

.tableRow :hover{
  background-color: #131111;
}

.container{
  display: flex;
}

.sidebar{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  border-right: 2px solid grey;
}

@media screen and (max-width:992px) {
   .container{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .sidebar{
    width: 100%;
   }

   .marketData{
    display: flex;
    justify-content: space-around;
   }

   .containerCoinInfo{
    width: 100%;
    margin-top: 0px;
    padding: 20px;
    padding-top: 0px;
   }
}

@media screen and (max-width:767) {
  .marketData{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width:576) {
  .marketData{
    align-items: start;
  }
}

.heading{
  font-weight: bold;
  margin-bottom:20px ;
  font-family: "Montserrat";
}

.description{
  width: 100%;
  font-family: "Montserrat";
  padding: 25px;
  padding-bottom: 15px;
  padding-top: 0;
  text-align: justify;
}

.marketData{
  margin-top: 20px;
  align-self: start;
  padding: 25px;
  padding-top: 10px;
  width: 100%;
}

.containerCoinInfo{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 40px;
}


